{% extends 'baseB.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block header %}Tableau de bord{% endblock %}

{% block body %}
    <h2>Bienvenue dans le back-office</h2>
    <p>Utilisez le menu à gauche pour naviguer.</p>
{% endblock %}
