{% extends 'baseB.html.twig' %}

{# {% block title %}Forum{% endblock %}

{% block header %}Gestion du forum{% endblock %}

{% block body %}
    <h2>Liste des discussions</h2>
    <ul>
        {% for topic in topics %}
            <li><a href="{{ path('admin_forum_view', { id: topic.id }) }}">{{ topic.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %} #}
